<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='bootstrap/css/sticky-footer.css') }}" rel="stylesheet">

<title>URL shortener</title>

<div class = "container">
    <div class="page-header">
        <h1>URL shortener</h1>
        <div class="lead">
            «Beautiful is better than ugly. <br>
            Simple is better than complex.» — PEP
        </div>
    </div>
    <form class="form-group" id="input_form" action="create_short_url" method="post">
        <input type="text" class="form-control input-lg" placeholder="Paste your link here" id="long_url_tb"
               name="long_url" value={{ cookies.long_url }}>
        <div class="checkbox">
            <label>
                <input type="checkbox" onclick="enable_text(this.checked)" name="short_url_specified"
                       id="checkbox">
                Let me choose a nice URL for myself!
            </label>
        </div>
        <div class="input-group">
            <div class="input-group-addon">domain.com/</div>
            <input type="text" class="form-control input-lg" placeholder="some custom name" id="short_url_tb"
                   name="short_url" disabled
                    {% if cookies.short_specify %}
                        value = {{ cookies.short_url }}
                    {% endif %}>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-lg btn-block" name="submit">Submit</button>
    </form>
    {% if cookies.status == 'success' %}
        <div class="alert alert-success" role="alert">Yay! Here's your link:
            <a href="{{'/' + cookies.short_url }}">{{ cookies.HOST_URL + cookies.short_url }}</a></div>
    {% endif %}
    {% if cookies.status == 'already-exists' %}
        <div class="alert alert-danger" role="alert">Such short URL already exists. Please, choose another one!</div>
    {% endif %}
    {% if cookies.status == 'invalid-url' %}
        <div class="alert alert-danger" role="alert">Oh no! You pasted invalid URL!</div>
    {% endif %}
</div>

<footer class="footer">
<div class="container">
    <p class="text-muted">Kirill Bobyrev, 2014</p>
    </div>
</footer>

<script src="{{ url_for('static', filename='jquery-1.11.1.js') }}"></script>

<script type='text/javascript'>
    function enable_text(status)
    {
        status=!status;
        document.getElementById('short_url_tb').disabled = status;
    }
</script>

{% if cookies.short_specify %}
    <script type='text/javascript'>
        document.getElementById('checkbox').click();
    </script>
{% endif %}