<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='bootstrap/css/sticky-footer.css') }}" rel="stylesheet">

<title>URL shortener</title>

<div class = "container">
    <div class="page-header">
        <h1>URL shortener</h1>
        <div class="lead">
            «Beautiful is better than ugly. <br>
            Simple is better than complex.» — PEP
        </div>
    </div>
    <form class="form-group" id="input_form" action="create_short_url" method="post">
        <input type="text" class="form-control input-lg" placeholder="Paste your link here" id="long_url_tb" name="long_url">
        <div class="checkbox">
            <label>
                <input type="checkbox" onclick="enable_text(this.checked)" name="custom_short_url"> I want a custom short url!
            </label>
        </div>
        <div class="input-group">
            <div class="input-group-addon">domain.com/</div>
            <input type="text" class="form-control input-lg" placeholder="some custom name" id="custom_short_url_tb" name="custom_short"
                    disabled>
        </div>
    </form>
    </div>
</div>

<!-- BOTTOM -->
<footer class="footer">
<div class="container">
    <p class="text-muted">Kirill Bobyrev, 2014</p>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static', filename='jquery-1.11.1.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

<!-- weird(?) way to highlight input form -->
{% if input_field_state == 'has-success' %}
    <script type = 'text/javascript'>
        document.getElementById('input_form').className += ' has-success';
    </script>
{% endif %}
{% if input_field_state == 'has-error' %}
    <script type = 'text/javascript'>
        document.getElementById('input_form').className += ' has-error';
    </script>
{% endif %}

<!-- toggle enable/disable custom_short_url_tb by checkbox -->
<script type='text/javascript'>
    function enable_text(status)
    {
        status=!status;
        document.getElementById('custom_short_url_tb').disabled = status;
    }
</script>